# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Arquivos sensíveis
.env
*.log
*.key
*.pem

# Dados brutos ou grandes
data/raw/
data/full/
*.zip

# Sistema operacional
.DS_Store
Thumbs.db